.wrapper {
    display: flex;
}

.wrapper div {
    min-height: 5px;
    min-width: 50px;
    border-radius: 10px;
    background-color: rgb(0, 138, 0, 0.5);
    /* background-color: gold; */
}

.wrapper .c2 {
    margin-left: -10px;
    background: rgb(0, 183, 255, 0.5);
}