.wrapper {
    min-height: 100vh;
    padding: 70px 25px;

}

.wrapper .flex {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-weight: bold;
    background: var(--btn);
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-align: center;

}

.wrapper .filter {
    border: 2px solid white;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: rgb(0, 136, 255, 0.1);
    color: white;
    cursor: pointer;
}

.profile__cards {
    display: flex;
    flex-wrap: wrap;
    /* flex-shrink: 2; */
    gap: 10px;
    align-items: center;
    justify-content: center;

}

@media (max-width:570px) {
    .wrapper {
        width: 100%;
        padding: 50px 15px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}