.container {
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    max-width: 200px;
    min-width: 200px;
    padding: 10px;
    /* background: linear-gradient(rgba(55, 0, 60), rgba(255, 0, 242)); */
    /* background: linear-gradient(skyblue, rgb(0, 0, 0)); */
    color: rgb(0, 0, 0, 0.8);
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.container .flex {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    text-align: left;
    margin: 10px 0;
}

.container .flex .key {
    font-weight: bold;
}

.container .flex .key,
.container .flex .key {
    flex: 1
}



.pic {
    width: 80%;
    aspect-ratio: 1/1;
    background-color: aliceblue;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    font-size: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.interactions {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.interactions .likes,
.interactions .clicks,
.interactions .dislikes {
    display: flex;
    gap: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: rgb(0, 0, 0, 0.8);
    cursor: pointer;
}


.interactions .count {
    padding-bottom: 3px;
}

.interactions {
    margin-left: -5px;
}

.interactions .likes:hover,
.interactions .clicks:hover,
.interactions .dislikes:hover {
    background-color: white;

}

@media (max-width:570px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        max-width: none;
    }




    .container .top {
        flex: 1
    }

    .container .bottom {
        flex: 2
    }

    .container .pic {
        height: 100%;
    }

    .container .flex {
        margin: 3px 0;
    }


}