.wrapper {
    min-height: 100vh;
    /* padding-top: 70px; */
    ;
    /* display: flex; */
    width: 100%;
    gap: 15px;

}

/* .wrapper .left {
    flex: 1
}

.wrapper .left {
    flex: 4
} */

@media (max-width: 720px) {
    .wrapper {
        flex-direction: column;
    }
}