.wrapper {}

.wrapper .details,
.wrapper .heading {
    padding: 15px 25px;
}

.wrapper .heading {
    background: var(--btn);
    color: white;
    display: flex;
    justify-content: space-between;
    ;
    font-weight: bold;
}



.heading .updateIcon {
    color: black;
    ;
    background: linear-gradient(45deg, rgb(244, 248, 149) 50%, rgb(252, 157, 210) 50%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .title {
    text-transform: capitalize;
}

.wrapper .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.wrapper .flex {
    display: flex;
    gap: 15px;
    align-items: flex-start
}

.wrapper .flex .key {
    font-weight: bold;
    text-transform: capitalize;
}

.wrapper .flex .value {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    max-height: 100px;
    overflow-y: scroll;

}

.wrapper .flex .value span {
    border-radius: 5px;
    padding: 1px 2px;
    border: 1px solid black
}

.wrapper .toggle {
    /* border: 1px solid lightblue; */
    padding: 1px 8px;
    border-radius: 5px;
    min-width: 20px;
    text-align: center;
    background: var(--btn);
    cursor: pointer;
    font-size: 120%;
    background: linear-gradient(45deg, rgb(244, 248, 149) 50%, rgb(252, 157, 210) 50%);
    color: black;
}

.heading .flex {
    align-items: center;
    /* gap:10px; */
}

@media (max-width:720px) {
    .wrapper .details .flex {
        flex-direction: column;
        gap: 3px;
    }



}



@media (max-width:570px) {

    .wrapper .details,
    .wrapper .heading {
        padding: 15px 15px;

    }




}



@media (max-width:480px) {

    .wrapper .details {
        gap: 12px;


    }

    .wrapper .details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }

    .wrapper .details .flex {
        flex-direction: column;
        gap: 3px;
    }

    .wrapper .details .flex .left,
    .wrapper .details .flex .left {
        flex: 1;
    }
}