.wrapper {
    /* padding: 25px; */
}


.wrapper .flex,
.wrapper .heading {
    padding: 15px 25px;
}

.wrapper .heading {
    background: var(--btn);
    color: white;
    display: flex;
    justify-content: space-between;
    ;
    font-weight: bold;
}

.wrapper .flex {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    padding: 15px 25px;

}

.action {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    border-radius: 5px;
}

.action .accept,
.action .decline {
    padding: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: center;

}

.action .decline {
    background-color: red;
}

@media (max-width:570px) {

    .wrapper .flex,
    .wrapper .heading {
        padding: 15px 15px;
    }


    .wrapper .flex {
        flex-direction: column
    }
}