@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

::selection {
  background-color: black;
  color: rgb(34, 192, 254)
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --btn: linear-gradient(45deg, rgb(30, 30, 178), rgb(0, 183, 255));
  --btn-shadow: 0 2px 6px 0 rgba(31, 38, 135, 0.37);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: rgb(255, 255, 255); */
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(91deg, rgba(0, 126, 236, 0.1), white, rgb(0, 183, 255, 0.1) 50%);
  color: rgb(0, 0, 0, 0.8)
}



p {
  margin: 10px 0
}



a {
  color: inherit;
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 7px;
  height: 0;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 213, 255, 0.6);
  width: 12px;
  backdrop-filter: blur(5px);
}


input,
select,
textarea {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 9px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  font-family: 'Ubuntu', sans-serif;


}







@media (max-width:570px) {
  body {
    font-size: 90%;
  }
}