.wrapper {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    /* background: linear-gradient(90deg, rgb(0, 52, 20), green); */
}

.wrapper .items {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper .right .item {
    background: var(--btn);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.item {
    cursor: pointer
}

.menu {
    display: none;
    color: rgb(13, 116, 227);
}

.mobile__nav {
    display: none
}

@media (max-width:570px) {

    .wrapper {
        padding: 10px 15px;
    }

    .wrapper .items,
    .wrapper .right {
        display: none;
    }

    .menu {
        display: block;
    }

    .mobile__nav,
    .mobile__nav .items,
    .mobile__nav .right {
        display: block;

    }

    .mobile__nav {
        min-height: 100vh;
        width: 100px;
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        background-color: rgb(228, 237, 246, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 15px;
        /* box-shadow: 1px 1px 1px 1px blue; */
    }



    .mobile__nav .items {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}