.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: aliceblue;
    max-height: 100vh;
    /* min-width: 180px; */
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.25);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(6.5px);
    border-right: 1px solid rgba(31, 38, 135, 0.37);
    min-height: 100vh;

}


.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.top .close {
    border: 1px solid red;
    padding: 3px 7px;
    border-radius: 50%;
    color: white;
    background-color: red;
    cursor: pointer;
}

.heading {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 255, 0.1);
    padding: 10px 15px;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgb(0, 0, 255, 0.1);

}

.togle {
    border: 1px solid lightblue;
    padding: 0 5px;
    min-width: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(0, 0, 255, 0.1);

}

.options {
    padding: 10px 15px;
}


.flex {
    display: flex;
    gap: 10px;
    margin: 5px 0;
    max-width: 210px
}



.flex input,
.flex label {
    margin: 5px 0;
    padding: 7px;
    border: none;
    border-radius: 5px;


}

.flex input {
    border: none;
    max-width: 80px;

}


.options .apply {
    text-align: center;
    background: var(--btn);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--btn-shadow);

}

.location {}

.location .flex {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.location .flex .icon {
    font-weight: bold;
}

.location .flex select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    min-width: 110px;
    max-width: 110px;

}