.wrapper {
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    margin-right: 15px;
    padding: 0;
}

.wrapper input {
    margin: 0;
    width: 100%;
}

.wrapper .items {
    position: absolute;
    background-color: rgb(255, 255, 255);
    max-height: 180px;
    overflow-y: scroll;
    right: 0;
    left: 5px;
    top: 30px;
    padding: 10px;
    width: 100%;
}

.wrapper .items .option {
    margin: 5px 0;
}

.icon {
    position: absolute;
    top: 0;
    right: -10px;
    /* background-color: red; */
}