.wrapper {
    padding: 25px;
    min-height: 100vh;
    padding-top: 70px;
}

.wrapper .items {
    margin: 25px 0;
}

.wrapper .items .title {
    font-weight: bold;
    font-size: 110%;
}

.wrapper .item {
    margin: 10px 0;
}


@media (max-width:570px) {
    .wrapper {
        padding: 15px;
        padding-top: 60px;
    }
}